<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Sitecore.Support.Analytics.Pipelines.CreateVisits.ParseReferrer, Sitecore.Support.131171" patch:instead="*[@type='Sitecore.Analytics.Pipelines.CreateVisits.ParseReferrer, Sitecore.Analytics']" />
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>